<h1>Series</h1>

<h3>Title</h3>
<%= @series.title %>

<h3>Start Date</h3>
<%= @series.start_date %>

<h3>End Date</h3>
<p><%= @series.end_date %></p>

<h3>Episodes [<%= link_to 'Add New', new_episode_path(series: @series.title) %>]</h3>
<% if @series.episodes.blank? %>
  None.
<% else %>
  <ul>
    <% @series.episodes.each do |episode| %>
      <li><%= link_to episode.title, episode %></li>
    <% end %>
  </ul>
<% end %>

<br /><br />

<div id="navigation">
  <%= link_to 'Back to All Series', series_index_path %> |
  <%= link_to 'Edit', edit_series_path(@series) %> |
  <%= link_to 'Delete', series_path(@series), :method => :delete, :confirm => 'Are you sure?' %>
</div>