<h1>Listing links</h1>

<table>
<% @links.each do |link| %>
  <tr>
    <td><%= link.points %> [vote!]</td>
    <td><%= link_to link.title, link.url %></td>
    <td><%= link_to link.user.name, link.user %></td>
    <td><%= link_to 'Show', link %></td>
    <td><% if user_should_be_able_to_edit_link?(current_user, link) %><%= link_to 'Edit', edit_link_path(link) %><% end %></td>
    <td><% if user_should_be_able_to_delete_link?(current_user, link) %><%= link_to 'Destroy', link, confirm: 'Are you sure?', method: :delete %><% end %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @links %>
<br />

<% if current_user %>
  <%= link_to 'New Link', new_link_path %>
<% end %>
