<h2>
  <%= @question.title %>
</h2>
<p>
  Asked by
  <%= link_to @question.user.name, @question.user %>
  in
  <%= link_to @question.category.name, @question.category %>
</p>

<% if @question.detail.present? %>
  <p>
    <b>More Details:</b><br />
    <%= @question.detail %>
  </p>
<% end %>

<h3>Answers</h3>
<% if current_user.present? %><%= link_to 'Add answer', new_category_question_answer_path(@category, @question) %><br /><br /><% end %>
<% unless @answers.present? %>
  <p>No answers yet!</p>
<% end %>

<% @answers.each do |answer| %>
  <div class="answer">
    <p><%= answer.detail %></p>
    - <%= link_to answer.user.name, answer.user %>, <%= time_ago_in_words answer.created_at %>
    <% if current_user_is_admin? %>
      | <%= link_to 'edit', edit_category_question_answer_path(@category, @question, answer) %>
      | <%= link_to 'delete', category_question_answer_path(@category, @question, answer), confirm: 'Are you sure?', method: :delete %>
    <% end %>
  </div>
<% end %>

<% if current_user_is_admin? %>
  <br /><br />
  <%= link_to 'Edit Question', edit_category_question_path(@category, @question) %> |
  <%= link_to 'Delete Question', [@category, @question], confirm: 'Are you sure?', method: :delete %>
<% end %>
