<!DOCTYPE html>
<html>
<head>
  <title>Lab7</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="main_notice"><%= notice %></div>

<%= yield %>

</body>
</html>
