<h1>Listing widgets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @widgets.each do |widget| %>
  <tr id="widget_<%= widget.id %>">
    <td><%= widget.name %></td>
    <td><%= widget.description %></td>
    <td><%= link_to 'Show', widget, remote: true %></td>
    <td><%= link_to 'Edit', edit_widget_path(widget), remote: true %></td>
    <td><%= link_to 'Destroy', widget, confirm: 'Are you sure?', method: :delete, remote: true %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Widget', new_widget_path, remote: true %>
