<h1>Episodes</h1>

<% if @episodes.blank? %>
  <p>No episodes!</p>
<% end %>

<ul>
  <% @episodes.each do |episode| %>
    <li>
      <%= episode.title %> 
      [ <%= link_to 'show', episode_path(episode) %> | 
        <%= link_to 'edit', edit_episode_path(episode) %> | 
        <%= link_to 'delete', episode_path(episode), :method => 'delete', :confirm => 'Are you sure?' %> 
      ]
    </li>
  <% end %>
</ul>

<%= link_to 'Create new episode.', new_episode_path %>