<h1>Episode</h1>

<h3>Title</h3>
<%= @episode.title %>

<h3>Episode Number</h3>
<%= @episode.episode_number %>

<h3>Description</h3>
<p><%= @episode.description %></p>

<div id="navigation">
  <%= link_to 'Back to Episodes', episodes_path %> |
  <%= link_to 'Edit', edit_episode_path(@episode) %> |
  <%= link_to 'Delete', episode_path(@episode), :method => :delete, :confirm => 'Are you sure?' %>
</div>