<p>
  <b>Link:</b>
  <%= @link_comment.link_id %>
</p>

<p>
  <b>User:</b>
  <%= @link_comment.user_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @link_comment.comment %>
</p>


<%= link_to 'Edit', edit_link_comment_path(@link_comment) %> |
<%= link_to 'Back', link_comments_path %>
