<h1>Lists</h1>
<br />
<ul>
<% @stores.each_with_index do |store, store_index| %>
  <li style="padding-bottom: 15px">
    <span style="font-size: 1.4em; font-weight: bold"><%= link_to store.name, store %></span> <%= link_to 'Add item', new_store_item_path(store), class: 'btn btn-small', id: "add_item_#{store.keyboard_shortcut}" %>
    <ul>
      <% store.items.each do |item| %>
        <li><%= item.name %> <%= "(#{item.quantity})" if item.quantity > 1 %></li>
      <% end %>
      
    </ul>
  </li>
<% end %>
</ul>

<%= link_to 'Create a new list', new_store_path, class: 'btn', id: 'create_new', title: 'Keyboard shortcut: c' %>

<script type="text/javascript">
  key('c', function() { document.getElementById('create_new').click(); });
  <% @keyboard_shortcuts.each do |shortcut| %>
    key('<%= shortcut %>', function() { document.getElementById('add_item_<%= shortcut %>').click(); });
  <% end %>
</script>