<h2><%= @store.name %></h2>

<ul id="items_<%= @store.id %>" class="unstyled">
  <%= render @store.items, locals: { enable_delete: true } %>
</ul>
<%= link_to 'Add item', new_store_item_path(@store), remote: true, id: 'add_item_link' %>

<hr />

<%= link_to 'Back to all lists', stores_path, id: 'back_link', title: 'Keyboard shortcut: b' %>

<hr />

<%= link_to 'Edit list name', edit_store_path(@store) %> | <%= link_to 'Delete this list', store_path(@store), method: 'delete', confirm: "Are you sure you want to delete the list for #{@store.name}?" %>

<script type="text/javascript">
  key('a', function() { simulate(document.getElementById('add_item_link'), 'click'); });
  key('b', function() { simulate(document.getElementById('back_link'), 'click'); });
  key('c', function() { simulate(document.getElementById('cancel_new_item'), 'click'); });

  var cancelNewItem = function(event) {
    $("#new_item_li").remove();
  }
</script>