<h2><%= @store.name %></h2>

<ul>
  <% @store.items.each do |item| %>
    <li><%= item.name %> <%= "(#{item.quantity})" if item.quantity > 1 %></li>
  <% end %>
</ul>

<%= link_to 'Add Item', new_store_item_path(@store), class: 'btn', id: 'add_item', title: 'Keyboard shortcut: a' %>


<hr />

<%= link_to 'Back to all lists', stores_path, id: 'back_link', title: 'Keyboard shortcut: b' %>

<hr />

<%= link_to 'Edit list name', edit_store_path(@store) %> | <%= link_to 'Delete this list', store_path(@store), method: 'delete', confirm: "Are you sure you want to delete the list for #{@store.name}?" %>

<script type="text/javascript">
  key('a', function() { document.getElementById('add_item').click(); });
  key('b', function() { document.getElementById('back_link').click(); });
</script>