<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Album:</b>
  <%= link_to @album.title, @album %>
</p>

<p>
  <b>Image:</b>
  <%= @photo.image %>
</p>


<%= link_to 'Edit', edit_album_photo_path(@photo) %> |
<%= link_to 'Back', album_photos_path %>
